<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retinal Image Eyes Disease Classification</title>
    
</head>
<body>
    <h1>Retinal Image Eyes Disease Classification</h1>
    <p>In Partial Fulfillment of the Requirements in Artificial Intelligence and its Applications </p>
    <p>Southern Taiwan University of Science and Technology</p>
    <p>Made by: Raven E. Cagulang 柯任遠</p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if image_path %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('static', filename=image_path) }}" alt="Uploaded Image" style="max-width: 20%; height: auto;">

        {% if prediction %}
            <h2>Prediction:</h2>
            <p>{{ prediction }}</p>
        {% endif %}
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
